@use "./variables";
@use "./typography";

header {
    padding: 20px;

    ul {
        // display: flex;
        justify-content: space-between;

        img {
            width: 400px;
        }

        .tripCounter {
            position: absolute;
            top: 30px;
            right: 30px;
            width: auto;
        }
    }

    p {
        background-color: variables.$secondaryColour;
        padding: 8px;
        font-weight: 700;

        span {
            background-color: black;
            padding: 8px;
            // transform: rotate(45deg);
            // border-radius: 50%;
            display: inline-block;
        }
    }
}

.tripContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    .imgButtons {
        width: calc((100% / 3) - 20px);
        margin: 10px auto 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 10px solid variables.$tertiaryColour;
        padding: 30px;



        .imgContainer {
            max-width: 300px;
            margin-bottom: 30px;

            img {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }
        }

        .buttonContainer {
            display: flex;
            flex-direction: column;
        }
    }
}

.instructions,
.welcomeMessage,
.extraInstructions {
    width: 80%;
    margin: 0 auto;
}

.instructions,
.extraInstructions {
    padding: 15px 30px 0;
}

.welcomeMessage {
    padding: 30px 30px 0 30px;
}

@media (max-width: 1075px) {
    .tripContainer {

        .imgButtons {
            min-width: 350px;
            margin: 10px auto 60px;
            padding: 15px;
        }
    }

}


@media (max-width: 950px) {
    header {
        ul {
            img {
                width: 250px;
            }
        }

        p {
            padding: 4px;
            font-size: 0.8rem;

            span {
                padding: 4px 6px;
            }
        }
    }

    .instructions,
    .welcomeMessage,
    .extraInstructions {
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 800px) {

    .wrapper {
        max-width: 100%;

        // margin: 30px;
        p,
        h1 {
            width: 95%;
        }
    }

    .tripContainer {

        .imgButtons {
            min-width: 300px;
            margin: 10px auto 60px;
            padding: 15px;
        }
    }
}

@media (max-width: 700px) {
    .wrapper {
        max-width: 100%;
        // margin: 30px;
    }

    header {
        ul {
            display: flex;
            flex-direction: column;
            align-items: center;

            .tripCounter {
                position: static;
                max-width: 250px;
            }
        }
    }

    .tripContainer {

        .imgButtons {
            width: 100%;
            margin: 60px 0 0;
            padding: 0;
            position: relative;

            .titleContainer {
                background-color: black;
                padding: 4px 8px;
                margin-top: 30px;

                h3 {
                    margin: 0 auto;
                }
            }

            .imgContainer {
                position: absolute;
                z-index: -1;
                width: 100%;
                max-width: none;

                img {
                    width: 100%;
                }

            }

            .buttonContainer {
                margin-top: 60px;
            }
        }
    }
}