@use "./variables";
@use "./typography";

header {
    padding: 20px;

    ul {
        // display: flex;
        justify-content: space-between;

        img {
            width: 400px;
        }
        .tripCounter {
            position: absolute;
            top: 30px;
            right: 30px;
            width: auto;
        }
    }

    p {
        background-color: variables.$secondaryColour;
        padding: 8px;
        font-weight: 700;

        span {
            background-color: black;
            padding: 8px;
            // transform: rotate(45deg);
            // border-radius: 50%;
            display: inline-block;
        }
    }
}

.tripContainer {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;

    .imgButtons {
        width: calc((100% / 3) - 20px);
        margin: 10px auto 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // border: 10px solid variables.$tertiaryColour;
        padding: 30px;
        


        .imgContainer {
            max-width: 300px;
            margin-bottom: 30px;

            img {
                object-fit: cover;
                width: 300px;
                height: 300px;
            }
        }
        .buttonContainer {
            display: flex;
            flex-direction: column;
        }
    }
}