@use "./variables";

h1,
h2,
h3,
h4 {
    font-family: variables.$primaryFont;
    font-weight: 700;
    text-transform: uppercase;
}

p {
    font-family: variables.$primaryFont;
    font-size: 1.1rem;
    // font-weight: 700;
}