@use "./partials/setup";
@use "./partials/variables";
@use "./partials/typography";
@use "./partials/main";
@use "./partials/tour";
@use "./partials/dates";
@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@400;600&display=swap');

.App {
  text-align: center;
}

body {
  color: variables.$tertiaryColour;
  font-size: 125%;
  background-color: black;

  ul {
    list-style: none;
  }
}

.wrapper {
  max-width: 1440px;
  width: 100%;
  margin: 60px auto 0;
  p {
    max-width: 700px;
    margin: 0 auto;
  }
}

img {
  max-width: 600px;
}

.backgroundImg {
  background: url(./assets/star_bg.jpg);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
  margin: 0;
  opacity: 0.3;
}

h1 {
  margin: 0;
}

h3 {
  margin: 0 auto 30px;
}

button {
  font-family: variables.$primaryFont;
  background-color: black;
  border: 3px solid variables.$tertiaryColour;
  color: variables.$tertiaryColour;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  margin: 5px 10px;
  min-width: 230px;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: variables.$primaryColour;
    cursor: pointer;
  }
}

button.doesntWork {
  opacity: 0.4;

  &:hover,
  &:focus,
  &:focus-within {
    border-color: variables.$secondaryColour;
    cursor: default;
  }
}

@media (max-width: 950px) { 
  .wrapper {
    max-width: 90%;
    margin: 60px auto 0;
    p {
      max-width: 100%;
      margin: 0 auto;
    }
  }
}



@media (max-width: 800px) {
  .wrapper {
      max-width: 100%;
  }
}